.group:after {
  content: "";
  display: table;
  clear: both;
}
fieldset{
  border:0;
}

#left{
  color: white;
  float: left;
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}

.form-group p{
text-align: right;
}

.header-a{
  color: white;
}

#second{
    background-color: rgb(0, 100, 250);

}
.form-group{
  width: 50%;
  margin: auto;
  padding: 10px;

}


#login-text{
  color: white;
  margin-top: 0;
  padding-top: 100px;
  margin-left: 20%;
  }

.container p{
  text-align: center;
  margin-top: 0;
}
button{
  float: right;
}
.checkbox{
  text-align: right;
  clear: both;
}
.arrow{
  color: black;

}
.arrow:hover{
  transform: rotate(360deg);
  transition: 1s linear;
}

/*#username, #password{
  background-color: transparent;
  border-radius: 8px;
  color: white;
  border-color: white;
  width: 100%;
  padding: 12px 20px;
  margin-top: 0;

}
#username:invalid{
  border-color: red;
}
#password:invalid{
  border-color: red;
}
#checkbox{
  background-color: transparent;
  border-radius: 8px;
  color: white;
  border-color: white;
  padding: 10px;
  margin: 10px;
}
.register{
  color:white;
  clear: both;
  text-align: right;
}
}
.login-action{
  color:white;
  float: right;
  position: relative;
}
.second-text{
  color:white;
  margin-bottom: 20px;
}
.loginbutton{
  background-color: transparent;
  color: white;
  border-radius: 8px;

}*/
/*.footer{
  text-align: center;
  width: 100%;
  position: fixed;
  clear: both;
  bottom: 0;
  height: 90px;
}*/
