.row{
  margin-top: 100px;
}
.col-image{
  width: 100%;
}

.table{
  margin-bottom: 0;
}
.tabs{
margin-top:20px;
}
.tabs a{
  color:red;
}
#description,
#reviews{
  padding: 10px;
  color:black;
}
#specification{
  border:10px solid rgb(205, 30, 0);
  color: black;
}
.tab-pane{
    background-color: rgb(205, 30, 0);
    margin: 15px;
}
.effect{
  box-shadow:  0 8px 6px -6px black;
  border-radius: 15px;
  padding: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  box-shadow: 0 -2px red;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.
